@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
:root {
  /* --blue: #0062ff; */
  --blue: #4a1ee9;
  --white: #fff;
  --grey: #f5f5f5;
  --black1: #222;
  --black2: #999;
}
body {
  min-height: 100vh;
  overflow-x: hidden;
}
.container {
  position: relative;
  width: 100%;
}
.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background: var(--blue);
  border-left: 10px solid var(--blue);
  transition: 0.5s;
  overflow: hidden;
}
.navigation.active {
  width: 80px;
}
.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.navigation ul li:hover,
.navigation ul li.hovered {
  background: var(--white);
}
.navigation ul li:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none;
}
.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-orientation: none;
  color: var(--white);
}
.navigation ul li:hover a,
.navigation ul li.hovered a {
  color: var(--blue);
}
.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
.navigation ul li a .icon ion-icon {
  font-size: 1.75em;
}
.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}
.navigation ul li:hover a::before,
.navigation ul li.hovered a::before {
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px var(--white);
  pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background: transparent;
  border-radius: 50%;
  box-shadow: 35px -35px 0 10px var(--white);
  pointer-events: none;
}
.userCheck {
  display: none;
}

.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: var(--white);
  transition: 0.5s;
}
.main.active {
  width: calc(100% - 80px);
  left: 80px;
}
.topbar {
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.toggle {
  position: relative;
  top: 0;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
  cursor: pointer;
}
.top_right {
  display: flex;
}
.search {
  flex: 1;
  position: relative;
  width: 250px;
  margin: 0 10px;
  top: 2px;
  background: var(--blue);
  line-height: 20px;
  border-radius: 25px;
  padding: 8px 10px;
  z-index: 1;
}
.search label {
  position: relative;
  width: 100%;
  color: white;
  font-size: 18px;
  font-weight: 500;
  display: block;
  cursor: pointer;
}
.button .dropDown {
  float: right;
  margin-top: 2px;
  line-height: 25px;
}
.search ul {
  position: absolute;
  background-color: var(--blue);
  opacity: 0.9;
  list-style: none;
  top: 60px;
  left: 0;
  width: 100%;
  border-radius: 10px;
  display: none;
}
[id^="btn"]:checked + ul {
  display: block;
}
.search .drop::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  opacity: 0.9;
  background: var(--blue);
  right: 20px;
  top: -10px;
  transform: rotate(45deg);
  z-index: -1;
}
.search ul li {
  line-height: 40px;
  padding: 8px 20px;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.search ul li label {
  font-size: 15px;
}
.search ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  display: block;
}
.search ul li a:hover,
.search ul li label a:hover {
  color: #47eaff;
}
.search ul ul {
  position: static;
}
.search ul ul li {
  line-height: 30px;
  padding-left: 30px;
  border-bottom: none;
}
.search ul ul li a {
  color: #e6e6e6;
  font-size: 15px;
}
.dropDown2 {
  font-size: 15px;
  float: right;
  margin-top: 10px;
  padding: 0 10px;
}
.search input {
  display: none;
}

.user {
  position: relative;
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  /* overflow: hidden; */
  cursor: pointer;
}
.user .text {
  font-size: 18px;
  color: var(--blue);
  width: 100%;
  margin-left: 50%;
}
.user .icon {
  background-color: var(--grey);
  border-radius: 10%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.table_link {
  text-decoration: none;
}
.uploadBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20%;
  margin-left: 40%;
  width: 50%;
  height: 50%;
}
.userCheck{
    display: none;
  }

.contentBx {
  display: flex;
  margin-left: 50%;
  width: 100%;
  height: 100%;
}
.formBx {
  width: 50%;
}
.message {
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #ff083b;
}
.inputBx {
  margin-bottom: 10px;
}
.contentBx .formBx .inputBx input {
  width: 100%;
  padding: 10px 20px;
  outline: none;
  font-weight: 400;
  border: 1px solid #607d8b;
  font-size: 16px;
  letter-spacing: 1px;
  color: #607d8b;
  background: transparent;
  border-radius: 30px;
}
.contentBx .formBx .inputBx input[type="submit"] {
  background: #ff4584;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 500;
  cursor: pointer;
}
.contentBx .formBx .inputBx input[type="submit"]:hover {
  background: #f53677;
}

.cardBox {
  position: relative;
  width: 20%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(1, 5fr);
  grid-gap: 30px;
}
.cardBox .card {
  position: relative;
  background: var(--white);
  padding: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.8);
}
.cardBox .card .numbers {
  position: relative;
  font-weight: 500;
  font-size: 2.5em;
  color: var(--blue);
}
.cardBox .card .font {
  position: relative;
  font-weight: 500;
  font-size: 1.35em;
  color: var(--blue);
}
.cardBox .card .cardName {
  color: var(--black2);
  font-size: 1.1em;
  margin-top: 5px;
}
.cardBox .card .iconBx {
  font-size: 3em;
  color: var(--black2);
}
.cardBox .card:hover {
  background: var(--blue);
}
.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBx,
.cardBox .card:hover .font {
  color: var(--white);
}

/* charts */
.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.cardHeader h2 {
  font-weight: 600;
  color: var(--blue);
}
.message {
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #ff083b;
}
.btn {
  position: relative;
  padding: 5px 10px;
  background: var(--blue);
  text-decoration: none;
  color: var(--white);
  border-radius: 6px;
}
.details .table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
.details .table thead td {
  font-weight: 600;
}
.details .recentOrders table tr {
  color: var(--black1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.details .recentOrders table tr:last-child {
  border-bottom: none;
}
.details .recentOrders table tbody tr:hover {
  background-color: var(--blue);
  color: var(--white);
  cursor: pointer;
}
.details .recentOrders table tr td {
  padding: 10px;
}
.details .recentOrders table tr td:last-child {
  text-align: center;
}
.details .recentOrders table tr td:nth-child(1) {
  text-align: center;
}
.details .recentOrders table tr td:nth-child(2) {
  text-align: center;
}
.details .recentOrders table tr td:nth-child(3) {
  text-align: center;
}
.details .recentOrders table tr td:nth-child(4) {
  text-align: center;
}
.details .recentOrders table tr td:nth-child(5) {
  text-align: center;
}
.details .recentOrders table tr td:nth-child(6) {
  text-align: center;
}
.status.delivered {
  padding: 2px 4px;
  background: #8de02c;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.status.pending {
  padding: 2px 4px;
  background: #8de02c;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
.status.inprogress {
  padding: 2px 4px;
  background: #1795ce;
  color: var(--white);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}
