<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='./css/dashboard.css') }}" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='./css/updateuser.css') }}" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Absolut|Dashboard</title>
</head>

<body>
  <div class="container">
    <div class="navigation">
      <ul>
        <li>
          <a href="#">
            <span class="icon">
              <ion-icon name="accessibility-outline"></ion-icon>
            </span>
            <span class="title">Absolute Company Pvt.Ltd.</span>
          </a>
        </li>
        <li>
          <a href="{{ url_for('dashboard') }}">
            <span class="icon">
              <ion-icon name="home"></ion-icon>
            </span>
            <span class="title">Home</span>
          </a>
        </li>
        <li class="userCheck" id="userCheck1">
          <a href="{{ url_for('home') }}">
            <span class="icon">
              <ion-icon name="book"></ion-icon>
            </span>
            <span class="title">Data Source</span>
          </a>
        </li>
        <li class="userCheck" id="userCheck">
          <a href="{{ url_for('adminPanel') }}">
            <span class="icon">
              <ion-icon name="cog"></ion-icon>
            </span>
            <span class="title">Admin Pannel</span>
          </a>
        </li>
        <li>
          <a href="{{ url_for('dropsession') }}">
            <span class="icon">
              <ion-icon name="log-out"></ion-icon>
            </span>
            <span class="title">Sign Out</span>
          </a>
        </li>
      </ul>
    </div>


    <div class="main">
      <div class="topbar">
        <div class="toggle">
          <ion-icon name="menu-outline"></ion-icon>
        </div>
        <div class="top_right">
          <div class="search">
            <label for="btn" class="button">Add New User
              <ion-icon class="dropDown" name="caret-down-outline"></ion-icon>
            </label>
            <input type="checkbox" id="btn">
            <ul class="drop">
              <li><a href="{{ url_for('register') }}">Add User</a></li>
            </ul>
          </div>
          <div class="user">
            <a href="{{ url_for('doughnut') }}">
              <ion-icon class="icon" name="refresh-outline"></ion-icon>
            </a>
          </div>
        </div>


      </div>
      <div class="message">{{message}}</div>
      <div class="details">
        <div class="recentOrders">
          <div class="contentBx">
            <div class="formBx">
              <form style="display: none;" action="/userUpdate" method="POST">
                <div class="inputBx">
                  <span>User ID</span>
                  <input type="text" id="user_id" class="login-field" value="" name="username" required>
                </div>
                <div class="inputBx">
                  <span>Name</span>
                  <input type="text" id="name" class="login-field" value="" name="name">
                </div>
                <div class="inputBx">
                  <span>Email ID</span>
                  <input type="text" id="email_id" class="login-field" value="" name="email_id">
                </div>
                <div class="inputBx">
                  <span>Department</span>
                  <input type="text" id="department" class="login-field" value="" name="department">
                </div>
                <div class="inputBx">
                  <span>User Type</span>
                  <input type="text" id="user_type" class="login-field" value="" name="user_type">
                </div>
                <div class="inputBx">
                  <span>Contact No.</span>
                  <input type="text" id="contact_no" class="login-field" value="" name="contact_no">
                </div>
                <div class="inputBx">
                  <span>Password</span>
                  <input type="password" id="password" onkeyup="check()" class="login-field pass" value=""
                    name="password" required>
                </div>
                <div class="inputBx">
                  <span class="register" for="email">Confirm Password <i class="fa fa-check"
                      style="color:green; display:none" aria-hidden="true"></i> <i class="fa fa-times"
                      style="color:red; display:none" aria-hidden="true"></i></span>
                  <input type="password" id="confirm_password" onkeyup="check()" class="login-field cpass" value=""
                    name="confirmpassword" required>
                </div>
                <div class="inputBx">
                  <input type="submit" name="submit_button" id="submitr" value="Add User">
                </div>
                <div class="inputBx">
                  <input type="submit" name="submit_button" id="updateusers" value="Update User">
                </div>
                <div class="inputBx">
                  <input type="submit" name="submit_button" id="deleter" value="Delete User">
                </div>
              </form>
            </div>
          </div>
          <table style="margin-top: -8rem ;">
            <thead>
              <tr>
                <td>
                  <h2>User_id</h2>
                </td>
                <td>
                  <h2>Name</h2>
                </td>
                <td>
                  <h2>E-mail</h2>
                </td>
                <td>
                  <h2>Department</h2>
                </td>
                <td>
                  <h2>user_type</h2>
                </td>
                <td>
                  <h2>contact_no</h2>
                </td>
              </tr>
            </thead>
            <tbody id="myTable">
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>
  <!-- show table with databse -->
  <script>
    async function cust_sale(e) {
      let response = await fetch('/user_details?c=' + e);
      let data = await response.json()
      // console.log(data);
      for (var i = 0; i < data.user_id.length; i++) {
        var row = ` <tr>
                     <td>${data.user_id[i]}</td>
                     <td>${data.name[i]}</td>
                     <td>${data.email_id[i]}</td>
                     <td>${data.department[i]}</td>
                     <td>${data.usertype[i]}</td>
                     <td>${data.contact_no[i]}</td>
                     <td style="display:none;">${data.password[i]}</td>
                  </tr>`
        document.getElementById("myTable").innerHTML += row;
        // console.log(row);
        var table = document.getElementById("myTable"), rIndex;
        for (var i = 0; i < table.rows.length; i++) {
          table.rows[i].onclick = function (e) {
            e.preventDefault();
            rIndex = this.rowIndex
            // const userid = document.getElementById("user_id").value = this.cells[0].innerHTML;
            document.getElementById("user_id").value = this.cells[0].innerHTML;
            document.getElementById("name").value = this.cells[1].innerHTML;
            document.getElementById("email_id").value = this.cells[2].innerHTML;
            document.getElementById("department").value = this.cells[3].innerHTML;
            document.getElementById("user_type").value = this.cells[4].innerHTML;
            document.getElementById("contact_no").value = this.cells[5].innerHTML;
            document.getElementById("password").value = this.cells[6].innerHTML;
            document.getElementById("confirm_password").value = this.cells[6].innerHTML;


            const useridvalue = document.getElementById("user_id").value;
            const namevalue = document.getElementById("name").value = this.cells[1].innerHTML;
            const emailid = document.getElementById("email_id").value = this.cells[2].innerHTML;
            const department = document.getElementById("department").value = this.cells[3].innerHTML;
            const usertype = document.getElementById("user_type").value = this.cells[4].innerHTML;
            const contactno = document.getElementById("contact_no").value = this.cells[5].innerHTML;
            const password = document.getElementById("password").value = this.cells[6].innerHTML;
            const confirmpassword = document.getElementById("confirm_password").value = this.cells[6].innerHTML;

            localStorage.setItem('userid', useridvalue);
            localStorage.setItem('namevalue', namevalue);
            localStorage.setItem('emailid', emailid);
            localStorage.setItem('department', department);
            localStorage.setItem('usertype', usertype);
            localStorage.setItem('contactno', contactno);
            localStorage.setItem('password', password);
            localStorage.setItem('confirmpassword', confirmpassword);
            window.location.href = "userUpdate";
          }
        }
      }
    }
    cust_sale('check_data');
  </script>
  <script>
    function check() {
      let cpass = document.querySelector(".cpass")
      let pass = document.querySelector(".pass")
      if (cpass.value === pass.value && cpass.value && pass.value) {
        document.querySelector(".fa-check").style.display = "inline"
        document.querySelector(".fa-times").style.display = "none"
        document.querySelector("#submitr").style.display = "inline"
        document.querySelector("#updateusers").style.display = "inline"
        document.querySelector("#deleter").style.display = "inline"
      }
      else {
        document.querySelector(".fa-check").style.display = "none"
        document.querySelector(".fa-times").style.display = "inline"
        document.querySelector("#submitr").style.display = "none"
        document.querySelector("#updateusers").style.display = "none"
        document.querySelector("#deleter").style.display = "none"
      }
    }
  </script>
  <!-- navbar click -->
  <script>
    let toggle = document.querySelector('.toggle');
    let navigation = document.querySelector('.navigation');
    let main = document.querySelector('.main');

    toggle.onclick = function () {
      navigation.classList.toggle('active');
      main.classList.toggle('active');
    }

    let list = document.querySelectorAll('.navigation li');
    function activeLink() {
      list.forEach((items) =>
        items.classList.remove('hovered'));
      this.classList.add('hovered');
    }
    list.forEach((item) =>
      item.addEventListener('mouseclick', activeLink));
  </script>
  <!-- show or remove button if admin -->
  <script>
    let box = document.getElementById("userCheck");
    let box1 = document.getElementById("userCheck1");
    let box2 = document.getElementById("userCheck2");
    var out_html = '';
    const myJSON1 = JSON.parse({{ final_list3 | tojson}});
    out_html = Object.values(myJSON1[0]);
    if (out_html == 'admin') {
      // console.log(out_html);
      box.classList.remove('userCheck')
      box1.classList.remove('userCheck')
      box2.classList.remove('userCheck')
    }
    else {
      console.log("not admin");
    }
  </script>
</body>

</html>